body {
  margin: 0px;
}

#page {
  min-width: 1280px;
}

#bas_page {
  min-width: 1280px;
}

nav {
  padding: 0px;
  margin: 0px;
  width: 100%;
  background-color: #333333;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
}

nav > ul > li {
  float: left;
  position: relative;
}

nav > ul::after {
  content: "";
  display: block;
  clear: both;
}

#titre {
  font-size: 25px;
}

nav li {
  list-style-type: none;
  display: inline-block;
  width: 200px;
  height: 40px;
  margin: auto;
  padding: 0px;
  border-right: 1px solid #CCCCCC;
  text-align: center;
  line-height: 40px;
  color: #FFFFFF;
}

.sousmenu {
  display: none;
  padding-left: 0px;
}

nav a {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
}

nav ul li ul {
  background-color: #333333;
  position: absolute;
}

nav ul li:hover ul {
  display: block;
}

nav li a:hover {
  background-color: #3388BB;
}

#index {
  padding-top: 40px;
  padding-bottom: 50px;
}

.active {
  background-color: #3388BB;
}

nav span {
  float: right;
  padding: 10px;
  color: #CCCCCC;
}

.corps {
  padding-top: 70px;
  padding-bottom: 220px;
  background-color: #9C9697;
  color: #FFFFFF;
  width: 100%;
  margin-bottom: 0px;
  text-align: center;
}


.corps h1 {
  font-size: 50px;
  text-align: center;
}

.corps img {
  width: 150px;
  height: 200px;
}

.corps p, .corps h2 {
 text-align: center;
  clear: both;
}

hr {
  width: 400px;
}

#info {
  font-size: 20px;
}

.corps a {
  text-decoration: underline;
  color: #FFFFFF;
}

.corps a:hover {
  color: #023D83;
}

.corps caption {
  margin-bottom: 40px;
}

.corps table {
  margin: 0 auto 10px auto;
  font-size: 30px;
  padding: 10px auto;
}

.corps th, .corps td {
  width: 400px;
  height: 30px;
}

#contact {
  padding-bottom: 91px;
}

#contact img {
  width: 50px;
  height: 50px;
}

.pied {
  margin-bottom: 0px;
}

#message_bas {
  color: #F5E1E1;
}

footer {
  background-color: #626060;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  width: auto;
}

#info {
  padding-bottom: 50px;
}

#info ul {
  list-style-type: none;
}

#info caption {
  background-color: #282020;
}

#info caption h2 {
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 40px;
  width: 1200px;
}

#info tr {
  text-align: left;
  height: 75px;
}

#info tr td h3 {
  text-align: center;
}

#prix, #cesure {
  font-size: 25px;
  height: 60px;
}

#gauche {
  width: 300px;
}

#tronc {
  text-align: left;
}

#prix, #cesure, #tronc {
  width: auto;
}

.marge {
margin-left: 5em;
}

#tronc ul {
  list-style-type: square;
  list-style-position: inside;
}

.maman {
  border-bottom: 1px solid #CCCCCC;
}

#decouverte {
  font-size: 25px;
}

#competences tr{
  text-align: center;
}

footer img {
  width: 100px;
  height: 100px;
}

#table_fin {
  margin: 0 auto;
  font-size: 20px;
  padding: 10px auto;
}
